{% extends 'base.html' %}
    {% block title %}vm4game | About{% endblock %}
    {% block nav %}
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li class="active"><a href="/about_us">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
    {% endblock %}
    {% block content %}
        <div class="article">
          <h2><span>WELCOME TO</span> VM4GAME</h2>
          <div class="clr"></div>
          <p><strong></strong></p>
          <p>This is <a href="http://steamcommunity.com/groups/vm4game#" target="_blank">VM4GAME.COM</a> public steam group. You could look on your game stats at www.vm4game.com site. Also all of our servers could be found there. Our cloud based platform running on high-performance hardware in Europe and US.</p>
        </div>
        <div class="article">
          <h2><span>Our</span> Mission</h2>
          <div class="clr"></div>
          <p><strong></strong></p>
          <p>If you need dedicated game server to go with some kind of competition or clan training - feel free to <a href="/contact">Contact Us</a>. We'll run separate password-protected server (for almost any source based game) for you ASAP in our cloud. It's free for group members for now.</p>
          <p></p>
        </div>
    {% endblock %}