<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% load staticfiles %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery-1.3.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/arial.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cuf_run.js' %}"></script>
</head>
<body>
  <div class="main">
    <div class="header">
      <div class="header_resize">
        <div class="logo">
          <h1><a href="/"><span>vm4game</span><small>Want to play together with your friends? We'll help you!</small></a></h1>
        </div>
        <div class="search">
          <form method="get" id="search" action="#">
            <span>
              <input type="text" value="Search..." name="s" id="s" />
              <input name="searchsubmit" type="image" src="{% static 'images/search.gif' %}" value="Go" id="searchsubmit" class="btn"  />
            </span>
          </form>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="clr"></div>
    <div class="menu_header">
      <div class="menu_nav">
        <ul>
          {% block nav %}{% endblock %}
        </ul>
      </div>
    </div>
    <div class="clr"></div>
    <div class="table"></div>
    <div class="table1"></div>
    <div class="content">
      <div class="content_resize">
        <div class="mainbar">
        {% block content %} {% endblock %}
        </div>
          <div class="sidebar">
          <div class="gadget">
              {% block sidebar %}{% endblock %}
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="fbg">
      <div class="fbg_resize">
        <div class="col c1">
          <h2><span><a href="/">Home</a></span></h2>
        </div>
        <div class="col c2">
          <h2><span><a href="/support">Articles</a></span></h2>
        </div>
        <div class="col c3">
          <h2><span><a href="/about_us">About Us</a></span></h2>
        </div>
        <div class="col c4">
          <h2><span><a href="/contact">Contact Us</a></span></h2>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_resize">
        <p class="lf">Copyright &copy; 2014 vm4game.com, all rights reserved</p>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</body>
</html>