{% extends 'base.html' %}
    {% load static %}
    {% block title %}vm4game | Contact{% endblock %}
    {% block nav %}
        <li><a href="/">Home</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li class="active"><a href="/contact">Contact Us</a></li>
    {% endblock %}
    {% block content %}
        <div class="article">
          <h2><span>Contact</span></h2>
          <div class="clr"></div>
          <p>Welcome to our small but friendly site. If you have any wishes and ideas please don't hesitate to contact us. We'll try to do my best to create game servers that you'd love.</p>
        </div>
        <div class="article">
          <h2><span>Send us</span> mail</h2>
          <div class="clr"></div>
          {% if form.errors %}
            <p style="color: red;">
              Please correct the error{{ form.errors|pluralize }} below.
            </p>
          {% endif %}
          <form action="" method="post">
            <ol>
              <li>
                {{ form.subject.errors }}
                <label for="id_subject">Subject</label>
                {{ form.subject }}
              </li>
              <li>
                {{ form.email.errors }}
                <label for="id_email">Email Address</label>
                {{ form.email }}
              </li>
              <li>
                {{ form.message.errors }}
                <label for="id_message">Your Message</label>
                {{ form.message }}
              </li>
              {% csrf_token %}
              <li>
                <script type="text/javascript"
                  src="http://www.google.com/recaptcha/api/challenge?k={{ captcha_pub_key }}">
                </script>
                <noscript>
                  <iframe src="http://www.google.com/recaptcha/api/noscript?k={{ captcha_pub_key }}"
                    height="300" width="500" frameborder="0"></iframe><br>
                  <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                  </textarea>
                  <input type="hidden" name="recaptcha_response_field"
                    value="manual_challenge">
                </noscript>
              </li>
              <li>
                  {{ captcha_error }}
              </li>
              <input type="submit" value="Submit" class="send">
            </ol>
          </form>
        </div>
    {% endblock %}
    {% block sidebar %}
        <h2 class="star"><a href="/news/"><span>My</span> News!</a></h2>
        <div class="clr"></div>
        <ul class="sb_menu">
          {% if news_bar %}
            {% for news_br in news_bar %}
              <li class="active"><a href="/news/{{ news_br.id }}/">{{ news_br }}</a></li>
            {% endfor %}
          {% else %}
            <p>ZZZ</p>
          {% endif %}
        </ul>

        <h2 class="star"><span>Sidebar</span> Menu</h2>
        <div class="clr"></div>
        <ul class="sb_menu">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">TemplateInfo</a></li>
          <li><a href="#">Style Demo</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Archives</a></li>
        </ul>

        <h2 class="star"><span>Sponsors</span></h2>
        <div class="clr"></div>
        <ul class="ex_menu">
          <li class="active"><a href="#">Lorem ipsum dolor</a><br />
            Donec libero. Suspendisse bibendum</li>
          <li><a href="#">Donec mattis</a><br />
            Phasellus suscipit, leo a pharetra</li>
          <li><a href="#">Dui pede condimentum</a><br />
            Tellus eleifend magna eget</li>
          <li><a href="#">Condimentum lorem</a><br />
            Curabitur vel urna in tristique</li>
          <li><a href="#">Fringilla velit magna</a><br />
            Cras id urna orbi tincidunt orci ac</li>
          <li><a href="#">Suspendisse bibendum</a><br />
            purus nec placerat bibendum</li>
        </ul>
    {% endblock %}
