{% extends 'base.html' %}
    {% load static %}
    {% block title %}vm4game | Thanks{% endblock %}
    {% block nav %}
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact Us</a></li>
    {% endblock %}
    {% block content %}
        <div class="article">
          <h2><span>Thank you for your message</span></h2>
        </div>
    {% endblock %}

